body {
    background-color: lightblue;
}
section {
    height: 60vh;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 20vh;

}
div#hamburger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    background-color: lightgreen;
}
#hamburger-menu i {
    display: block;
    color: red;
    font-size: 2rem;
}
ul {
    display: flex;
    width: 80%;
    background-color: gray;
    justify-content: space-around;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    font-size: 2rem;
}
section#main {
    margin-top: 20vh;
}